.my-films-text {
   color: #4e3f87;
}
.no-have-films-container {
   display: flex;
   flex-direction: column;
}
.saved-container {
   max-width: 100%;
}
.add-film {
   color: #000;
   margin: 15px auto;
   text-align: center;
   background-color: #c4c4c4;
   padding: 10px 15px;
   width: 200px;
   border-radius: 6px;
}
.no-have-films-text {
   color: rgb(129, 33, 33);
   font-size: 25px;
   font-weight: bold;
}
.saved-container {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   align-items: center;
}

.add-film:hover {
   transition: 0.5s all;
   color: #fff;
   background: forestgreen;
}
