.input-search {
   display: flex;
   flex: 1;
   background: #1e1e21;
   height: 47px;
   width: 317px;
   gap: 100px;
   border: none;
   border-radius: 5px;
   padding-left: 16px;
   outline: none;
   color: #c4c4c4;
}
.container-input {
   display: flex;
   margin: 10px 20px;
   gap: 10px;
}

.search-button {
   border: none;
   background: #4a3799;
   padding: 14px 10px;
   border-radius: 7px;
   cursor: pointer;
   color: #fff;
}

.search-button:hover {
   background: #c4c4c4;
   color: #4a3799;
   transition: 0.7 ease-in;
}
