.container {
   max-width: 100%;
}

.search-film {
   margin-left: 1.25rem;
   color: #c4c4c4;
}
.lighbar-container {
   display: flex;
   margin: 1.75rem 30px;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.lighbar-1 {
   width: 100%;
   height: 1px;
   background: #c4c4c4;
}
.lighbar-2 {
   width: 100%;
   height: 1px;
   background: #c4c4c4;
}

.tedencias {
   margin: 0 15px;
   color: #7c7c8a;
   white-space: nowrap;
}

.list-films-container {
   display: grid;
   justify-content: center;
   align-items: center;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   margin: 0 150px;
   gap: 30px;
}

@media (max-width: 1037px) {
   .list-films-container {
      grid-template-columns: 1fr 1fr 1fr;
   }
}
@media (max-width: 685px) {
   .list-films-container {
      grid-template-columns: 1fr ;
   }
}