.film-details-container {
   max-width: 100%;
   display: flex;
   margin: 0 150px;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.film-details-title {
   color: #4a3799;
   font-size: x-large;
}
.backdrop-path {
   max-width: 100%;
   max-height: 400px;
   border-radius: 15px;
}

.sinopse-film {
   margin: 20px;
   padding: 0 30px;
   color: #4e3f87;
   width: 100%;
}

.film-overview {
   color: #c4c4c4;
   margin: 0 30px;
   flex-wrap: wrap;
}

.vote_average {
   color: #c4c4c4;
   width: 100%;
   margin: 30px;
   padding: 0 30px;
}

.buttons-container {
   display: flex;
   gap: 100px;
   margin-bottom: 50px;
}
.buttons-container button {
   padding: 10px;
   background: #c4c4c4;
   border-radius: 5px;
   border: none;
   cursor: pointer;
}
.buttons-container button:hover {
   background: #4e3f87;
   color: #ffff;
   transition: 0.2s ease-in;
}

@media (max-width: 571px) {
   .film-details-container {
      margin: 0 auto;
      padding: 0 30px;
   }
}
